{% extends "layout.html" %}

{% block title %}
    portfolio
{% endblock %}

{% block main %}

    <table  class="container">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                {% for item in index %}
                <td>{{item.symbol}}</td>
                <td>{{item.name}}</td>
                <td>{{item.shares}}</td>
                <td>${{item.price}}</td>
                <td>${{item.total}}</td>
            </tr>
            <tr>
                {% endfor %}
                <td>CASH:</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{totalCash}}</td>
            </tr>
             <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{total}}</td>
            </tr>


    </table>




{% endblock %}